nav {
    background-color: #1A535C
}


/*footer.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%
}*/

select[name='data-table-simple_length'] {
    display: block
}

.dark {
    background-color: #1A535C
}